<%= form_for(@company_configuration_table) do |f| %>
  <% if @company_configuration_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company_configuration_table.errors.count, "error") %> prohibited this company_configuration_table from being saved:</h2>

      <ul>
      <% @company_configuration_table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :key %><br>
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :comp_id %><br>
    <%= f.number_field :comp_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
