<div class='criterias'>

  <div class='criteria' ng-repeat='criteria in criterias'>
    <div class='title' ng-if='criteria.title != "rank_2"'>{{util.capitaliseAndTrimFirstWord(criteria.title)}}</div>
    <table>
      <tr class='range-bar'>
        <td ng-repeat='range in util.getObjKeys(criteria.ranges)' class='range-box' ng-class='{selected: (criteria.ranges[range])}' ng-click='toggleSelectedRange(criteria.ranges, range)'>
          <div class='seperator'></div>
          <div class='seperator right' ng-show='$last'></div>
        </td>
      </tr>
      <tr class='range-bar'>
        <td ng-repeat='range in util.getObjKeys(criteria.ranges)' class='range-text-box-text-left'>
          {{util.spiltBeforeDash(range)}}
          <div class='plus-sign' ng-show='$last'>+</div>
        </td>
      </tr>
    </table>
  </div>

  <div ng-repeat='f in filter_groups' class='expanded-filters'>
    <div ng-show='f.expanded'>
      <div class='tab-btn'>
        <div class='symbol' ng-click='removeFilter(f)'>&#x2715;</div>
        <div class='title'>{{util.splitAndCapitalise(f.title)}}</div>
        <div checkbox value='f.all_active' on-callback='onClickFilterGroupChecbox(f)' off-callback='onClickFilterGroupChecbox(f)' src='<%= asset_path "check_mark.png" %>'></div>
      </div>
      <div ng-repeat='filter_name in util.getObjKeys(f.ranges)' class='tab-btn light' ng-class='{no_border_bottom: $last && !$parent.$last}'>
        <div checkbox value='f.ranges[filter_name]' src='<%= asset_path "check_mark.png" %>' on-callback='onClickFilterChecbox(f, filter_name)' off-callback='onClickFilterChecbox(f, filter_name)'></div>
        <div class='text'>{{util.splitAndCapitalise(filter_name)}}</div>
      </div>
    </div>
  </div>

  <div class='levles-filters' ng-repeat='f in levels_filters' ng-show='f.expanded'>
    <div class='title-container'>
      <div class='symbol clickable' ng-click='removeFilter(f)'>&#x2715;</div>
      <div class='title'>{{util.splitAndCapitalise(f.title)}}</div>
      <img  class='reset-btn clickable' src='<%= asset_path "level_clear.png" %>'></img>
    </div>
    <div class='level-container from'>
      <div class='label'>From</div>
      <div class='level'>
        <input type='number' ng-model='f.ranges.from' min='0' max='{{f.ranges.to}}'/>
      </div>
    </div>
    <div class='level-container to'>
      <div class='label'>To</div>
      <div class='level'>
        <input type='number' ng-model='f.ranges.to' min='{{f.ranges.from}}' max='10'/>
      </div>
    </div>
  </div>

  <div class='workships_button_left' ng-click="toggleUpdateFilterMenu('update_filter_menu')">
    <div class='symbol'>+</div>Add Filter
  </div>
  <div class='workships_button_right' ng-click='clearFilter()'>
    <div class='symbol'>&#x2715;</div>Clear All
  </div>

    <div add-top-to-analyze-sidebar-criteria top='20' class='filter-menu' ng-show='overlay_blocker_service.isElemDisplayed("update_filter_menu")'>
      <div class='box'>
        <div class='box_title'>Add Filter</div>
        <div class='title'>Select criterion</div>
        <div ng-repeat='f in filter_groups' ng-show='!f.expanded'>
          <div checkbox class='checkbox-position' value='f.checkbox_to_expand' on-callback='onClickFilterMenuCheckbox(f)' off-callback='onClickFilterMenuCheckbox(f)' src='<%= asset_path "check_mark.png" %>'></div>
          <div ng-click='onClickFilterMenuCheckbox(f)' class='text clickable'>{{displayFormattedTitle(f.title)}}</div>
        </div>
        <div class='title'>Levels</div>
        <div ng-repeat='f in levels_filters' ng-show='!f.expanded'>
          <div checkbox class='checkbox-position' value='f.checkbox_to_expand' on-callback='onClickFilterMenuCheckbox(f)' off-callback='onClickFilterMenuCheckbox(f)' src='<%= asset_path "check_mark.png" %>'></div>
          <div class='text'>{{displayFormattedTitle(f.title)}}</div>
        </div>

        <div class='update-filter' ng-class='{darker : areThereCheckBoxesSelected()}' ng-click='onClickUpdateFilter()'>
          <div class='symbol'>+</div>Add Selected</div>
      </div>
  </div>
</div>
