<div ng-controller='NewGraphSidebarController' ng-init='init()'>
  <scrolling-panel-with-floating-button to-show='showMenu' button-on-click='openAddCriteriaModal' class-hide='hide-me', class-show='sidebar-container explore-sidebar-show'>
    <div id="subscroller" class="subscroller-explore">

      <!-- Organizational Structure -->

      <div class='accordion-item' ng-class="{'removed-bottom-padding': !show_formal_structure}">

        <div class='criteria-unit no-border'>
          <div class='criteria-unit-title item-name'>Employee/Group name:</div>
          <div class='criteria-unit-content'>
            <div class='search-tab keylines-search'>
              <img ng-show='!search.input || search.input.length === 0' class='search-img' alt="find" src="<%= asset_path 'looking_glass.png' %>"/>
              <img ng-show='search.input.length > 0' ng-click='clearSearch()' class='delete-img clickable' alt="find" src="<%= asset_path 'clear_search.png' %>"/>
              <input type='text' placeholder='Search' ng-model='search.input' typeahead-on-select='setSearch($item)' typeahead='node.name for node in fetchNodeNames() | nameStartWith:$viewValue | limitTo: 20' typeahead-editable='false'>
            </div>
          </div>
        </div>

        <div ng-click='toggleShowFormalStructure()'>
          <div class='item-name clickable'>
            <div class='contact-arrow {{show_formal_structure ? "close" : "open"}}'>
            </div>
            Organizational Structure
            <div class='clear-all clickable' ng-click='clearOrganizationalStructure();$event.stopPropagation();'>Clear</div>
            <div class="structure-headline"></div>
          </div>
        </div>
        <div ng-show="drill_down_state.show && show_formal_structure" ng-click='backToCompany()' class='back-to-company clickable'>
          <div class='back-arrow'></div><div class='back-text'>Back to company</div>
        </div>
        <div ng-show='show_formal_structure' ng-include src="'groups_widget'"></div>
      </div>

      <!-- Overlay  %> -->

      <div ng-repeat='layer in selected.layers' class='criteria-unit'>
        <div class='criteria-unit-title item-name'>
          <div class='float-left-content layer-icon' style='background-color:#{{layer.color}}'></div>
          <div class='float-left-content criteria-name layer-name clickable'>{{layer.title.replace('_', ' ')}}</div>
          <div class='clickable arrow {{layer.hidden ? "arrow-show" : "arrow-hide"}}' ng-click='toggleHideCriteria(layer)'></div>
          <toggle class='float-right-content clickable' state='layer.on' callback='includeLayers()'></toggle>
        </div>
        <div class='criteria-unit-content {{layer.hidden ? "hide" : "show"}}'>
          <div ng-show='_.isEmpty(layerValuesToShow(layer))' class='select-overlay clickable' ng-class='{disabled: drillDown && drillDownLayer !== layer}' ng-click='toggleChooseLayerFilter(layer)'>Select {{layer.title.replace("_", " ")}}</div>
          <ul ng-hide='_.isEmpty(layerValuesToShow(layer))' class='criteria-values-list'>
            <li>
              <checkbox class='criteria-checkbox' text='{{"All " + layer.title.replace("_", " ")}}' on-callback='toggleAll(layer, true)' off-callback='toggleAll(layer, false)' value='isAllChecked(layer)' src='<%= asset_path "check_mark.png"%>' disabled='{{!layer.on || (drillDown && drillDownLayer !== layer)}}' ng-hide='drillDown && drillDownLayer === layer'></checkbox>
              <div class='back-to-all-domains clickable' ng-show='drillDown && drillDownLayer === layer'>
                <div class='back-arrow'></div>
                <div class='back-text' ng-click='setDrillDown(null, layer)'>Back to all {{layer.title === 'keywords' ? 'keywords' : 'domains'}}</div>
              </div>
            </li>
            <li class='layer-value' ng-repeat='(key, value) in layerValuesToShow(layer)'>
              <checkbox class='criteria-checkbox padding-left' on-callback='toggleFilter(layer, key, true)' off-callback='toggleFilter(layer, key, false)' value='value' src='<%= asset_path "check_mark.png"%>' text='{{key}}' disabled='{{!layer.on || (drillDown && drillDownLayer !== layer)}}'></checkbox>
              <div class='drill-down-wrapper clickable' ng-show='layer.on && !drillDown' ng-click='setDrillDown(key, layer)'></div>
            </li>
          </ul>
          <div ng-hide='_.isEmpty(layerValuesToShow(layer))' class='more-layer clickable' ng-class='{disabled: drillDown && drillDownLayer !== layer}' ng-click='toggleChooseLayerFilter(layer)'>More...</div>
        </div>
      </div>

      <!-- Criteria -->

      <div ng-repeat='criteria in criteriaToShow(selected.criteria_list, selected.show_criteria)' class='criteria-unit {{criteria.hidden ? "hide-content" : ""}}'>
        <div class='criteria-unit-title item-name'>
          <div class='float-left-content remove-button clickable' ng-click='removeCriteria(selected.show_criteria, criteria)'>
            <img src='<%= asset_path "x.png" %>'>
          </div>
          <div class='float-left-content criteria-name clickable'>{{criteria.title.replace('_', ' ')}}</div>
          <div class='clickable arrow {{criteria.hidden ? "arrow-show" : "arrow-hide"}}' ng-click='toggleHideCriteria(criteria)'></div>
          <div class='clear-all clickable' ng-click='clearAll(criteria)'>Clear</div>
        </div>
        <div class='criteria-unit-content {{criteria.hidden ? "hide" : "show"}}'>
          <ul class='criteria-values-list {{_.keys(criteria.values).length < 4 ? "less-than-four-items" : ""}}'>
            <li ng-repeat='(key, value) in criteria.values | objectLimitTo: getLimit(criteria)'>
              <checkbox class='criteria-checkbox' on-callback='toggleFilter(criteria, key, true)' off-callback='toggleFilter(criteria, key, false)' value='value' src='<%= asset_path "check_mark.png"%>' text='{{key}}'></checkbox>
            </li>
          </ul>
          <div class='more clickable' ng-hide='!criteria.limit || criteria.limit >= _.keys(criteria.values).length' ng-click='toggleExpandCollapseCriteria(criteria)'>{{getLimit(criteria) === _.keys(criteria.values).length ? '-' : '+'}}<span>{{getLimit(criteria) === _.keys(criteria.values).length ? 'Less' : 'More'}}</span></div>
        </div>
      </div>
    </div>
  </scrolling-panel-with-floating-button>
</div>
