<div class='analyze_sidebar animated' ng-class="{'fadeInLeft':  show_sidebar, 'fadeOutLeft': !show_sidebar, 'in-blocked-state': overlay_blocker_service.isBlocked() }" ng-controller='NewGraphSidebarController' ng-init='init(NETWORK_PAGE_NUM)'>
  <div class='analyze-sidebar-overlay' ng-click='overlay_blocker_service.unblock()' ng-if='overlay_blocker_service.isBlocked()'></div>
  <div class='search-tab'>
     <img class='search-img' alt="find" src="<%= asset_path 'search_icon.png' %>"/>
     <input type='text' placeholder="Find" ng-model="search_input" typeahead="search_node.name for search_node in search_list() | filter:$viewValue"  typeahead-on-select='onSelect($item)'/>
  </div>

  <div class='tabs'>
    <div class='tab' ng-class='{selected: inGroupsTab()}' ng-click='switchToGroupsTab()'>Groups</div>
    <div class='tab' ng-class='{selected: inCriteriaTab()}' ng-click='switchToCriteriaTab()'>Criteria</div>
    <div class='employee-counter'> 
    <img class='employee-counter-img' alt='employee-count' src='<%= asset_path 'people_count_icon.png'%>' />
    <div class='employee-number'> {{fm.getEmployeesNumber()}} </div>
    </div>
    
  </div>

  <div ng-include="'analyze_sidebar_criteria'" ng-show='inCriteriaTab()' class='criteria-tab'>
  </div>

  <div ng-show='inGroupsTab()' class='groups-tab'>
    <div class='formal-pins-accordion'>
    
      <div class='accordion-item' ng-class="{'removed-bottom-padding': show_pins}">
        <div ng-click='toggleShowPins()'>
          <img ng-show='show_pins' class='arrow clickable' alt="arrow-down" src="<%= asset_path 'arrow_open.png' %>"/>
          <img ng-show='!show_pins' class='arrow closed clickable' alt='arrow-colsed' src="<%= asset_path 'arrow_closed.png' %>"/>
          <div class='item-name clickable' >Presets</div>
        </div>
        <div ng-include src="'presets_widget'"></div>
      </div>
   
      <div class='accordion-item' ng-class="{'removed-bottom-padding': show_formal_structure}">
        <div ng-click='toggleShowFormalStructure()'> 
          <img ng-show='show_formal_structure' class='arrow clickable' alt="arrow-down" src="<%= asset_path 'arrow_open.png' %>"/>
          <img ng-show='!show_formal_structure' class='arrow closed clickable' alt="arrow-colsed" src="<%= asset_path 'arrow_closed.png' %>"/>
          <div class='item-name clickable'>Structure</div>
        </div>
        <div ng-show='show_formal_structure' ng-include src="'groups_widget'"></div>
      </div>
    </div>
  </div>

</div>