<div ng-show='show_pins' class='pin-list-warrper' >
  <div class='pin-status-title clickable' ng-click='toggleShowActivePins()'>
    <div class='arrow-img'>
      <img ng-hide='show_active_pins' class='arrow-white' src="<%= asset_path 'minimize_white.png' %>">
      <img ng-show='show_active_pins' class='arrow-white minimize' src="<%= asset_path 'minimize_white.png' %>">
    </div>
    Active 
  </div>
  <div ng-repeat='pin in pins_status.active' ng-show='show_active_pins'>
    <edit-pin pin-list='pins_list' pin='pin' page='page'> </edit-pin> 
  </div>
  <div class='pin-status-title in-progess clickable' ng-click='show_in_progress = !show_in_progress'>
    <div class='arrow-img'>
      <img ng-hide='show_in_progress' class='arrow-white' src="<%= asset_path 'minimize_white.png' %>">
      <img ng-show='show_in_progress' class='arrow-white minimize' src="<%= asset_path 'minimize_white.png' %>">
    </div>
      In progress 
  </div>
  <div class='pin-wrapper' ng-repeat='pin in pins_status.in_progress' ng-show='show_in_progress'>
    <div class='preset-image'>
      <div class='in-progress-img'></div>
    </div>
    <div class='preset-name'>{{pin.name}}</div>
  </div>
  <div class='pin-status-title draft clickable' ng-click='show_draft = !show_draft'>
   <div class='arrow-img'>
      <img ng-hide='show_draft' class='arrow-white' src="<%= asset_path 'minimize_white.png' %>">
      <img ng-show='show_draft' class='arrow-white minimize' src="<%= asset_path 'minimize_white.png' %>">
   </div>
    Drafts 
  </div>
  <div class='pin-wrapper' ng-class="{'clickable': page.id === 3}" ng-repeat='pin in pins_status.drafts' ng-click='openOrCloseDraft(pin.id)' ng-show='show_draft'>
    <div class='preset-image'>
      <div class='draft-img'></div>
    </div>
    <div class='preset-name'>{{pin.name}}</div>
  </div>
</div>