<div ng-controller="mobileQuestionnaireController" class="mobile-interact-page" ng-init="init()">
    <div class="mobile-header" ></div>
  <div class='mobile-content' id="main_container">
    <div class='page_content mobile-interact-page-content'>
      <div class="large-logo-mobile">
        <img src="<%= asset_path 'logo-medium.png' %>"  width="100%">
      </div>
      <h1 class='page_title'><%= I18n.t('questionnaire.thank_you') %></h1>
      <div class='text'>
        <%= I18n.t('questionnaire.thank_you_note')  %>
      </div>
      <div class="interact-page-primary-btn">
        <a href="https://singuser14e5e99e.fra1.qualtrics.com/jfe/form/SV_8FWy0xomcTfYfTD?id={{getParticipantId()}}"><%= I18n.t('questionnaire.click_to_answer_additional_questions')  %></a>
      </div>
      <div class='foot'>
        <span>Powered by</span>
        <img src="<%= asset_path 'logo-medium.png' %>" height="75" width="308">
      </div>
    </div>
  </div>
</div>
